/* Default color scheme */

@define-color theme_main_color #1f1f1b;
@define-color theme_base_color #282826;
@define-color theme_text_color #9e9c96;
@define-color theme_bg_color #1f1f1b;
@define-color theme_fg_color @theme_text_color;
@define-color theme_selected_bg_color #282826;
@define-color theme_selected_fg_color @theme_text_color;

@define-color theme_tooltip_bg_color #999999;
@define-color theme_tooltip_fg_color #000000;

@define-color button_gradient_color_a #1f1f1b;
@define-color button_gradient_color_b shade (@theme_bg_color, 1);
@define-color button_border #9e9c96;

@define-color button_hover_gradient_color_a shade (@button_gradient_color_a, 0.1);
@define-color button_hover_gradient_color_b shade (@button_gradient_color_b, 1.1);

@define-color insensitive_bg_color alpha(#0b0b0d, 0.0);
@define-color insensitive_fg_color #ababab;
@define-color insensitive_border_color alpha(#717171, 0.50);

@define-color frame_color #282826;
@define-color inactive_frame_color shade @theme_bg_color;

@define-color notebook_active_tab_border alpha (@theme_selected_bg_color, 1.0);

@define-color switch_slider_color #737373;
@define-color switch_slider_border #666666;

@define-color highlighted_border @button_border;
@define-color internal_element_color #8a8a8a;
@define-color internal_element_prelight #a3a3a3;
@define-color internal_element_insensitive shade (@internal_element_color, 0.75);

@define-color progressbar_background_a #282826;
@define-color progressbar_background_b #282826;
@define-color progressbar_border #9e9c96;
@define-color progressbar_pattern #9e9c96;

@define-color toolbar_gradient_base @theme_base_color;

@define-color scroll_slider_color #1f1f1b;

@define-color less_dark_color shade (@frame_color, 0.6);

@define-color toolbar_active_button_color #222222;
@define-color toolbar_border_top #2e3436;
@define-color toolbar_border_bottom #5e605b;

@define-color menu_controls_color @theme_base_color;

@define-color keyboard_focus_border_a alpha (@theme_fg_color, 0.30);
@define-color keyboard_focus_border_b alpha (@theme_fg_color, 0.10);

@define-color trough_bg_color_a #30312f;
@define-color trough_bg_color_b #41433f;

@define-color active_switch_bg_color_a @theme_bg_color;
@define-color active_switch_bg_color_b @theme_bg_color;

@define-color scale_fill shade (@insensitive_border_color, 0.90);
@define-color scale_border_a shade (@internal_element_color, 0.90);
@define-color scale_border_b shade (@internal_element_color, 0.65);

/* FIXME: needs dark colors from here */
@define-color link_color #4a90d9;
@define-color warning_color #f57900;
@define-color error_color #cc0000;
@define-color success_color #4e9a06;

@define-color info_fg_color rgb (255, 255, 255);
@define-color info_bg_color rgb (61, 116, 189);
@define-color warning_fg_color rgb (255, 255, 255);
@define-color warning_bg_color rgb (252, 128, 0);
@define-color question_fg_color rgb (255, 255, 255);
@define-color question_bg_color rgb (0, 152, 38);
@define-color error_fg_color rgb (255, 255, 255);
@define-color error_bg_color rgb (237, 0, 0);

@define-color os_chrome_bg_color black;
@define-color os_chrome_fg_color #ccc;
@define-color os_chrome_selected_bg_color #333;
@define-color os_chrome_selected_fg_color white;

@define-color chrome_bg_color #1e1a17;
@define-color chrome_fg_color #fff;

@define-color scale_progress_fill #2c85e2;
@define-color scale_progress_border #1864b2;
@define-color scale_progress_border_b #3e90e5;

@define-color wm_highlight shade (@theme_bg_color, 1.4);
@define-color wm_title_highlight #111111;

@define-color wm_bg_a shade (@theme_bg_color, 1.3);
@define-color wm_bg_b @theme_bg_color;

@define-color wm_button_bg_a shade (@theme_bg_color, 1.0);
@define-color wm_button_bg_b shade (@theme_bg_color, 0.85);
@define-color wm_button_bg_c shade (@theme_bg_color, 0.8);
@define-color wm_button_bg_d shade (@theme_bg_color, 0.9);

@define-color wm_button_bg_hover_a shade (@wm_button_bg_a, 1.2);
@define-color wm_button_bg_hover_b shade (@wm_button_bg_b, 1.2);
@define-color wm_button_bg_hover_c shade (@wm_button_bg_c, 1.2);
@define-color wm_button_bg_hover_d shade (@wm_button_bg_d, 1.2);

@define-color wm_button_bg_active_a shade (@theme_bg_color, 0.5);
@define-color wm_button_bg_active_b shade (@theme_bg_color, 0.7);
@define-color wm_button_bg_active_c shade (@theme_bg_color, 0.7);

/*@import url("gtk-widgets-assets-dark.css");*/
@import url("gtk-widgets.css");
/*@import url("gtk-widgets-dark-overrides.css");*/
